{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-eyecatchRole">
        <div class="ec-eyecatchRole__image">
            <img src="{{ asset('/shop/html/user_data/custom_data/img/new_arrival_product_feature/eyecatch.webp') }}" alt="" role="presentation"/>
        </div>
        <div class="ec-eyecatchRole__intro">
            <p class="ec-eyecatchRole__introEnTitle">{{ 'CUBE GELATO ICE'|trans }}</p>
            <p class="ec-eyecatchRole__introTitle">{{ '日本中ではしご酒を体験しよう！'|trans }}</p>
            <p class="ec-eyecatchRole__introDescription">
                {{ 'ハシゴるは、全国の加盟飲食店ではしご酒を体験することができるサブスクリプションサービスです。
                加盟店は店ごとに設定した１，０００円の『ハシゴるメニュー』を提供します。各店の推しが詰まったメニューですので、きっとご満足いただけると思います。
                ハシゴるメニューは基本的に２０％以上お得に楽しめるものとなっており、１日でたくさんのお店をハシゴすることができます。
                '|trans|nl2br 
                }}
            </p>
            <a class="ec-blockBtn--top" href="{{ url('product_list') }}">{{ 'front.block.eyecatch.view_list'|trans }}</a>
        </div>
    </div>
</div>